<!DOCTYPE html>
<html>
  <head>
    <title>Rails Is Fun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ol>
        <li>
          <a href="/authors">Authors Index</a>
        </li>
        <li>
          <a href="/books">Books Index</a>
        </li>
      </ol>
      <hr>
    </nav>

    <%= yield %>
  </body>
</html>
